In [75]:
#Importing the necessary libraries

In [76]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [77]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /Users/patri/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/patri/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [78]:
#Importing the dataset

In [79]:
df = pd.read_csv("amazon_reviews.csv")

In [80]:
#Checking the first 5 lines of the dataset to get an idea of how it looks

In [81]:
df.head()

                                              Review  Sentiment
0  Fast shipping but this product is very cheaply...          1
1  This case takes so long to ship and it's not e...          1
2  Good for not droids. Not good for iPhones. You...          1
3  The cable was not compatible between my macboo...          1
4  The case is nice but did not have a glow light...          1

In [82]:
#Checking columns, null values and data types

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Review     24999 non-null  object
 1   Sentiment  25000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 390.8+ KB

In [84]:
#there is only one review missing

In [85]:
df["Sentiment"].unique()

array([1, 2, 3, 4, 5])

In [86]:
df["Sentiment"].value_counts()

1    5000
2    5000
3    5000
4    5000
5    5000
Name: Sentiment, dtype: int64

In [87]:
#Reviews go from 1 to 5

In [88]:
#Dropping null values

In [89]:
df.dropna(inplace=True)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24999 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Review     24999 non-null  object
 1   Sentiment  24999 non-null  int64
dtypes: int64(1), object(1)
memory usage: 585.9+ KB

In [91]:
#Since we want to predict if a review is positive or not, we assign the numeric value 1 
#(positive) to those reviews that have 4 or 5, and the numeric value 0 (negative) to 
#those reviews that have 3 or less

In [92]:
df.loc[df['Sentiment']<=3,'Sentiment'] = 0
df.loc[df['Sentiment']>3,'Sentiment'] = 1

In [93]:
#Checking if it worked

In [94]:
df["Sentiment"].unique() #now, we only have two unique values in this column 0 (negative) and 1 (positive)

array([0, 1])

In [95]:
#Now, I need to clean the reviews. I will start removing the stopwords

In [96]:
stp_words=stopwords.words('english')
def clean_review(review): 
  cleanreview=" ".join(word for word in review.
                       split() if word not in stp_words)
  return cleanreview 

df['Review']=df['Review'].apply(clean_review)

In [97]:
df["Review"]

0        Fast shipping product cheaply made I brought g...
1        This case takes long ship even worth DONT BUY!!!!
2        Good droids. Not good iPhones. You cannot use ...
3        The cable compatible macbook iphone. Also conn...
4        The case nice glow light. I'm disappointed pro...
                               ...
24995    These cables (lightning) far superior cables m...
24996    This unit performs exactly advertised. I use c...
24997    I key cut local hardware store cut free, progr...
24998    I love case I ordered amazon. It color looked ...
24999    Awsome!!! I loved little speaker. It great sou...
Name: Review, Length: 24999, dtype: object

In [98]:
#Checking how many counts there are for positive and negative reviews

In [99]:
df['Sentiment'].value_counts()

0    15000
1     9999
Name: Sentiment, dtype: int64

In [100]:
#There are more negative reviews than positive reviews